<header>
	<h1>{{ shop.name  | link_to: shop.url }}</h1>

	{% if section.settings.linklist %}
		<nav>
			<ol>
				{% for link in section.settings.linklist.links -%}
					<li>{{ link.title | link_to: link.url }}</li>
				{% endfor %}
			</ol>
		</nav>
	{% endif %}

</header>

{% schema %}
{
	"name": "Header",
	"settings": [
		{
			"type": "link_list",
			"id": "linklist",
			"label": "Links",
			"default": "main-menu"
		}
	],
	"presets": [
      {
        "name": "Header",
        "category": "Body"
      }
    ]
}
{% endschema %}