
{% if section.settings.title != blank %}
	<h1>{{ section.settings.title }}</h1>
{% endif %}

{% for collection in section.settings.collectionlist %}
	{% render 'collection' with 
		title:collection.title
		products: collection.products
	%}
{% endfor %}

{% schema %}
{
	"name": "Collection",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Collections"
		},
		{
			"type": "collection_list",
			"id": "collectionlist",
			"label": "Collection list"
		}
	],
	"presets": [
      {
        "name": "Collection list",
        "category": "Body"
      }
    ]
}
{% endschema %}