{% assign list = collections %}
{% if section.settings.collectionlist.size > 0 %}
	{% assign list = section.settings.collectionlist %}
{% endif %}

{% if section.settings.title != blank %}
	<h1 class="center-text">{{ section.settings.title }}</h1>
{% endif %}

{% for collection in list %}
	{% render 'collection' with 
		collection: collection
	%}
{% endfor %}

{% schema %}
{
	"name": "Collection",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Collections"
		},
		{
			"type": "collection_list",
			"id": "collectionlist",
			"label": "Collection list"
		}
	],
	"presets": [
      {
        "name": "Collection list",
        "category": "Body"
      }
    ]
}
{% endschema %}